<!DOCTYPE html>
<html>
    <head>
        <title>CS:GO Community Competitive</title>
        <link rel="stylesheet" href="/styles/comingsoon.css">
    </head>
    <body>
        <%-include('../templates/background.ejs')%>
        <div id="comingsoon">
            <%-include('../templates/logo.ejs')%>
            <span>Coming Soon</span>
        </div>
        <script src="/scripts/background.js" nonce="<%=nonce%>"></script>
    </body>
</html>