<link rel=stylesheet href="/styles/pagePlay.css">
<div id="playArea">
    <button id="play">
        <span id="playText">PLAY</span>
    </button>
    <span id="noplay">You must be logged in to queue up.</span>
</div>

<script src="/scripts/pagePlay.js"></script>