@font-face {
    font-family: 'stratum';
    src: url('/assets/fonts/stratum.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'stratum';
    src: url('/assets/fonts/stratumbold.ttf') format('truetype');
    font-weight: bold;
}

body {
    margin: 0;
    background: black;
}

#comingsoon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #364857a1;
    padding: 20px 42px;
    border-radius: 3px;
    box-shadow: 0 0 2px #101417d6;
    color: #e8e8e8;
    font-family: stratum;
    font-size: 22px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


#comingsoon svg path {
    fill: #ffffffd6;
}

#comingsoon svg {
    width: 240px;
}