<link rel=stylesheet href="/styles/background.css">
<div id="background">
    <div id="backgroundContainer">
        <img id="backgroundMainImage">
        <img id="backgroundSmokeImage1" class="backgroundSmokeImage">
        <img id="backgroundSmokeImage2" class="backgroundSmokeImage">
        <img id="backgroundNoiseImage">
    </div>
</div>
