<header>
    <logo>
        <%-include('logo.ejs')%>
    </logo>
    <div id="localeSelectOpen">
        <img id="localeSelectedFlag">
        <span id="localeSelectArrow">▾</span>
    </div>
</header>
<div id="localeSelect"></div>