<div id="warningContainer">
    <button id="warningPrev" class="warningNav">◀</button>
    <div id="warning">
        <div id="warningHeader">
            <span id="warningHeaderText"></span>
            <span id="warningHeaderTimeleft"></span>
        </div>
        <div id="warningBody">
            <img id="warningIcon" src="/assets/warning.png">
            <span id="warningBodyText"></span>
        </div>
    </div>
    <button id="warningNext" class="warningNav">▶</button>
</div>
<main>
    <div id="leftcol">
        <div id="userinfo">
            <div id="userinfoMain">
                <div id="userinfoContainer">
                    <div id="userinfoAvatar">
                        <img id="userinfoAvatarImg">
                        <div id="userinfoAvatarImgLoaderContainer">
                            <div class="loader" id="userinfoAvatarImgLoader"></div>
                        </div>
                    </div>
                    <div id="userinfoDetails">
                        <span id="userinfoNickname">%%LoadingGeneric%%</span>
                        <div id="userinfoWins">
                            <div id="userinfoWinsIcon">
                                <%-include('trophy.ejs')%>
                            </div>
                            <span id="userinfoWinsCount">...</span>
                        </div>
                    </div>
                </div>
                <div id="userinfoLogin">
                    <span id="userinfoLoginText">%%UserInfoLoggedOut%%</span>
                    <a href="/authenticate" id="userinfoLoginLink">
                        <button id="userinfoLoginButton">%%SignInGeneric%%</button>
                    </a>
                </div>
            </div>
            <div id="userinfoRank">
                <div id="userinfoRankShadow"></div>
                <div id="userinfoRankDetails">
                    <div id="userinfoRankImgContainer">
                        <img id="userinfoRankImg"> 
                        <div class="loader" id="userinfoRankImgLoader"></div>
                    </div>
                    <div id="userinfoRankText">
                        <span id="userinfoRankName">%%LoadingGeneric%%</span>
                        <span id="userinfoRankSubtitle"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation">
            <div id="navlinks">
            </div>
            <div id="footer">
                <span>%%LegalDisclaimer%%<a href="/terms" target="_blank">%%TermsGeneric%%</a> <a href="/privacy" target="_blank">%%PrivacyGeneric%%</a></span>
            </div>
        </div>
    </div>
    <div id="rightcol">
        <div id="page">
            <div id="connload">
                <span>%%ConnectingGeneric%%</span>
            </div>
        </div>
    </div>
</main>